extends layout

block content
  h1= title
  p Koden och assets kommer från 
    a(href="https://phaser.io/tutorials/making-your-first-phaser-3-game/part1") https://phaser.io/tutorials/making-your-first-phaser-3-game/part1

  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src="/javascripts/hiscore.js")
  script(src="/javascripts/tutgame.js")

