extends layout

block content
  h1= title
  p Welcome to #{title}

  p Detta är ett startrepo med Docker. Klona det från 
    a(href="https://github.com/jensnti/phaser-docker-base") https://github.com/jensnti/phaser-docker-base

  p Gameroutern har exempel från 
    a(href="https://phaser.io/tutorials/making-your-first-phaser-3-game/part1") Making your first Phaser 3 game
    | .

  p Du kommer åt den här, 
    a(href="/game") Game
    | . Exemplet innehåller en databasimplementation för hiscore.